

.hovered {
	background-color : red;
}

tbody > tr > td:nth-child(1) {
	position : relative;
}

tbody > tr > td:nth-child(1) > div {
	background-color : yellow;
	position : absolute;
	left : 10px;
	z-index : 1;
}

.popup-menu {
	height: 30px;
	width: 60px;
}