
table {
	border-collapse: collapse;
}

table td {
	border: 1px solid;
}

.hovered {
	background-color : red;
}

tbody > tr > td:nth-child(1) {
	position : relative;
}

tbody > tr > td:nth-child(1) > div {
	background-color : yellow;
	position : absolute;
	left : 10px;
}

.hide {
	display: none;
}